spring:
  data:
    mongodb:
      uri:${MONGODB_URI}
    database: servicebooking

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - email
              - profile
